n8n/workflows/release-notes-cron.json
{
  "name": "Release Notes Agent - Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runtime:8787/run/release-notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"version\": \"0.1\",\n  \"input\": {\n    \"mode\": \"fixture\",\n    \"repo\": \"fyrk/example-repo\",\n    \"rangeLabel\": \"v0.1.0..v0.1.1\",\n    \"commits\": [\n      {\n        \"sha\": \"abc123\",\n        \"message\": \"feat: add new feature\",\n        \"author\": \"developer\",\n        \"url\": \"https://github.com/fyrk/example-repo/commit/abc123\"\n      },\n      {\n        \"sha\": \"def456\",\n        \"message\": \"fix: resolve bug\",\n        \"author\": \"developer\",\n        \"url\": \"https://github.com/fyrk/example-repo/commit/def456\"\n      }\n    ]\n  },\n  \"dryRun\": false\n}",
        "options": {}
      },
      "id": "http-request",
      "name": "Call Release Notes Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "content": "## Release Notes Generated Successfully\n\n**Run ID:** {{ $json.runId }}\n**Agent:** {{ $json.agentName }} v{{ $json.agentVersion }}\n**Artifacts:** {{ $json.artifactIds.length }} created",
        "height": 200,
        "width": 300
      },
      "id": "success-note",
      "name": "Success",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [910, 180]
    },
    {
      "parameters": {
        "content": "## Error\n\n**Error:** {{ $json.error }}",
        "height": 200,
        "width": 300
      },
      "id": "error-note",
      "name": "Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [910, 420]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Call Release Notes Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Release Notes Agent": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
